When you delete your account, your account and characters profile will be permanently removed. 

<br><br>

<form method="POST" action="/delete">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" class="btn btn-outline-danger" value="Delete Account">
</form>