<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Welcome</a></li>
    <li class="breadcrumb-item"><a href="/index">Home</a></li>
    <li class="breadcrumb-item active">Account Settings</li>
    <li class="breadcrumb-item"><a href="/logout">Log Out</a></li>
</ol>

<div style="margin: 40px;">

    <form method="POST" action="/edit">
        <input type="hidden" name="_method" value="PATCH">

        <div class="form-group" style="width: 300px;">
            <label for="username">Username</label>
            <input type="text" name="user[username]" class="form-control" id="exampleInputPassword1" value="<%= current_user.username %>"; background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;>
        </div>

        <div class="form-group" style="width: 300px;">
            <label for="email">Email address</label>
            <input type="text" name="user[email]" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="<%= current_user.email %>"; background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: pointer;>
        </div>

        <div class="form-group" style="width: 300px;">
            <label for="password">Password</label>
            <input type="password" name="user[password]" class="form-control" id="exampleInputPassword1" value="<%= current_user.password_digest %>"; background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;>
        </div>

        <br><br>
        
        <input type="submit" class="btn btn-outline-success" value="Update Account">

        <br><br>

        <p><a href="/delete"><input type="button" class="btn btn-outline-danger" value="Delete Account"></a></p>
    </form>

</div>