<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  <li class="breadcrumb-item"><a href="#">Library</a></li>
  <li class="breadcrumb-item active">Data</li>
</ol>

<h3>Welcome, <%= current_user.username %>!</h3>

<br><br>

<a href="/characters"><img src="/images/index.jpg"></a>

<br><br>

<a href="/characters"><input type="button" class="btn btn-warning" value="Let's Play!"></a>

<br><br>

<a href="/edit"><input type="button" class="btn btn-outline-success" value="Edit Account"></a>

<br><br>