<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Welcome</a></li>
  <li class="breadcrumb-item active">Home</li>
  <li class="breadcrumb-item"><a href="/edit">Account Settings</a></li>
  <li class="breadcrumb-item"><a href="/logout">Log Out</a></li>
</ol>

<div style="margin: 40px; display: grid; grid-template-columns: auto; max-width: auto;">

  <div class="jumbotron">
    <h2 class="display-4">Welcome, @<%= current_user.username %>!</h2>
    <p class="lead">Prepare for battle!</p>

    <br>
    
    <div style="text-align: center;">
      <a href="/characters"><img src="/images/index.jpg" style="width: auto; max-width: auto;"></a>
    </div>
    
    <hr class="my-4">
    <p>This is a simplistic version of Street Fighter simulation, you can select a character, add select fighting moves and final stage where the epic battle commences.</p>

    <br>
    
    <div style="text-align: center;">
      <a href="/characters"><input type="button" class="btn btn-warning" value="Let's Play!"></a>
    </div>
  </div>

  <br><br><br>

</div>