<% if flash.has?(:message) %>
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= flash[:message] %>  
</div>
<br><br>
<% end %>

<form method="POST" action="/login">
    <div class="form-group">
     <label for="username">Username</label>
      <input type="text" name="username" class="form-control" id="exampleInputPassword1" placeholder="Username"; background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="text" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password"; background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;>
    </div>
      
    <br><br>
    <input type="submit" class="btn btn-outline-success" value="Log In">
    <a href="/"><input type="button" class="btn btn-outline-warning" value="Back to Welcome Page"></a>
</form>