<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="/">Welcome</a></li>
  <li class="breadcrumb-item"><a href="/index">Home</a></li>
  <li class="breadcrumb-item"><a href="/edit">Account Settings</a></li>
  <li class="breadcrumb-item active">Log Out</a></li>
</ol>

<div style="margin: 40px;">
    <p class="text-danger">Are you sure you want to log out?</p>

    <br>

    <form method="POST" action="/logout">
        <p><input type="submit" class="btn btn-outline-danger" value="Log Out"></p>
    </form>
</div>