<form method="POST" action="/signup">
    <label for="username">Username: </label>
    <input type="text" name="username"><br>

    <label for="email">Email: </label>
    <input type="text" name="email"><br>

    <label for="password">Password: </label>
    <input type="text" name="password"><br>

    <br><br>
    <input type="submit" value="Sign Up">
</form>