<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Street Fighter</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  </head>

  <body>
    <div>
      <div>
        <%= yield %>
      </div>

      <br><br><br><br>

      <footer id="footer" style="position: fixed; padding: 5px 5px 6px 10px; bottom: 0px; width: 100%; background-color: #222;">
        <small>&copy; 2020 <strong>Street Fighter</strong></small>
      </footer>
    </div>
  </body>

</html>