<div>
  <header>
    <br><br>
    <img src="/images/welcome_page.jpg" style="max-width: 100%;">
  </header>

  <br><br>
  
  <div style="text-align: center;">
    <h3>This is the true battlefield!
      <br>
      <small class="text-muted">Welcome to the world of Street Fighter.</small>
    </h3>
    
    <br>
    
    <p><a href="/login"><input type="submit" class="btn btn-outline-warning" value="Log In"></a></p>

    <p><a href="/signup"><input type="submit" class="btn btn-outline-warning" value="Sign Up"></a></p>  

  </div>
</div>