<div class="container">
  <header>
    <img src="images/street_fighter.png">
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>This is the true battlefield!</h2>

    <div class="content">
      <p>Welcome to the world of Street Fighter.</p>
    </div>

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
