<div class="container">
  <header>
    <img src="images/street_fighter.png">
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>This is the true battlefield!</h2>

    <div class="content">
      <p>Welcome to the world of Street Fighter.</p>
    </div>

    <div class="sidebar">
      <h3>Start here</h3>
      <ul>
        <p><a href="/login"><input type="submit" class="btn btn-outline-warning" value="Log In"></a></p>
        <p><a href="/signup"><input type="submit" class="btn btn-outline-warning" value="Sign Up"></a></p>
      </ul>
    </div>

    <br>
  </div>
</div>